adf/ingestao_api_teste.json
{"name":"ingestao_api_teste","properties":{"description":"Teste unico de API com AKV","activities":[{"name":"Lookup_Row","type":"Lookup","policy":{"timeout":"0.00:10:00","retry":2,"retryIntervalInSeconds":30},"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":"SELECT TOP 1 source_system, schema_name, table_name, api_url, endpoint, header_scheme, kv_secret_name FROM parameter.ingestoes WHERE is_active = 1 AND source_system = 'api' AND auth_type = 'Bearer' ORDER BY priority, table_name","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"parameter","type":"DatasetReference"},"firstRowOnly":true}},{"name":"Copy_API_Test","type":"Copy","dependsOn":[{"activity":"Lookup_Row","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.00:20:00","retry":2,"retryIntervalInSeconds":30},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"JsonReadSettings"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"input_endpoint_api","type":"DatasetReference","parameters":{"p_api_url":{"type":"Expression","value":"@activity('Lookup_Row').output.firstRow.api_url"},"p_endpoint":{"type":"Expression","value":"@activity('Lookup_Row').output.firstRow.endpoint"},"p_header_scheme":{"type":"Expression","value":"@coalesce(activity('Lookup_Row').output.firstRow.header_scheme,'Bearer')"},"p_token":{"type":"AzureKeyVaultSecret","store":{"referenceName":"akvgspprd","type":"LinkedServiceReference"},"secretName":{"type":"Expression","value":"@activity('Lookup_Row').output.firstRow.kv_secret_name"}}}}],"outputs":[{"referenceName":"output_endpoint_api","type":"DatasetReference","parameters":{"p_source":{"type":"Expression","value":"@activity('Lookup_Row').output.firstRow.source_system"},"p_schema":{"type":"Expression","value":"@activity('Lookup_Row').output.firstRow.schema_name"},"p_table":{"type":"Expression","value":"@activity('Lookup_Row').output.firstRow.table_name"}}}]}],"folder":{"name":"GSP-Pipelines/Testes"},"annotations":[]}}